<div class="container" ng-body="StudentViewCtrl">
    <div class="jumbotron">
        <!-- If coordinator has not started activity show a please wait sign -->
        <div class="wait" ng-hide="activityName.name">
            <h1>Please Wait</h1>
        </div>

        <!-- Once coordinator starts activity, show the (position, bit, or role), value of item, and username -->

        <h2>{{activityName.title}}</h2>

        <!-- provide feedback when result is correct or not-->
        <div class="activity quicksort" ng-show="activityName.name === 'quicksort'">

            <p>Position: {{studentInfo.position}}</p>
            <h1>{{studentInfo.number}}</h1>
            <p>{{username}}</p>

            <!-- Have radio buttons to press for result -->
            <form class="" name="" role="form">
                <div class="form-group">
                    <label class="radio-inline"><input type="radio" ng-model="result" name="result" value="yes">Yes</label>
                    <label class="radio-inline"><input type="radio" ng-model="result" name="result" value="no">No</label>
                </div>
                <button type="button" ng-disabled="" ng-click="response(result)" class="btn btn-lg btn-primary btn-block">Submit</button>
            </form>
        </div>

        <div class="activity switch" ng-show="activityName.name === 'switch'">

            <p>Function Type: {{studentInfo.role}}</p>
            <h1>{{studentInfo.item}}</h1>
            <p>{{username}}</p>

            <!-- Have radio buttons to press for result if case or default-->
            <form class="" name="" role="form" ng-show="studentInfo.role !== 'var'">
                <label>Does this case match the current var:</label>
                <div class="form-group">
                    <label class="radio-inline"><input type="radio" ng-model="result" name="result" value="yes">Yes</label>
                    <label class="radio-inline"><input type="radio" ng-model="result" name="result" value="no">No</label>
                </div>
                <button type="button" ng-disabled="" ng-click="" class="btn btn-lg btn-primary btn-block">Submit</button>
            </form>

            <!-- if var show the list of var choices and select accordingly -->
            <form class="" name="" role="form" ng-show="studentInfo.role === 'var'">
                <label>Please select the correct case:</label>
                <div class="radio" ng-repeat="case in allCases" ng-show="case.role === 'case'">
                    <label><input type="radio" ng-model="result" name="result" value="{{case.item}}">{{case.item}}</label>
                </div>
                <div class="radio" ng-repeat="case in allCases" ng-show="case.role === 'default'">
                    <label><input type="radio" ng-model="result" name="result" value="{{case.item}}">{{case.item}}</label>
                </div>
                <button type="button" ng-disabled="" ng-click="response(result)" class="btn btn-lg btn-primary btn-block">Submit</button>
            </form>

        </div>

        <div class="activity binary" ng-show="activityName.name === 'binary'">

            <p>Decimal Number: <b>{{decimalNum.number}}</b></p>
            <h1>{{studentInfo.bit}} bit</h1>
            <p>{{username}}</p>

            <!-- Have radio buttons to press for result -->
            <form class="" name="" role="form">
                <label>Current added value is <b>0</b></label>
                <label>Does your bit value add up to {{ decimalNum.number }}?</label>
                <div class="form-group">
                    <label class="radio-inline"><input type="radio" ng-model="result" name="result" value="yes">Yes</label>
                    <label class="radio-inline"><input type="radio" ng-model="result" name="result" value="no">No</label>
                </div>
                <button type="button" ng-disabled="" ng-click="response(result)" class="btn btn-lg btn-primary btn-block">Submit</button>
            </form>

        </div>

    </div>
</div>
