/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.activity, .dashboard {
  margin: 0 auto;
}
.activity {
  max-width: 330px;
  text-align: center;
}
.dashboard{
  max-width: 550px;
  text-align: left;
}

.entercode {
  max-width: 550px;
  margin: 0 auto;
}

.quicksort li {
  margin: 0px 20px;
}

.binary-bits li  {
  margin: 0px 20px;
}
.binary-bits li .bit{
  font-weight: bold;
}
.binary-bits li .bin{
  text-align: center;
}