/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.activity, .dashboard {
  margin: 0 auto;
}
.activity {
  max-width: 330px;
}
.dashboard{
  max-width: 550px;
  text-align: center;
}

.entercode {
  max-width: 550px;
  margin: 0 auto;
}

.sortlist {
  text-align: center;
}

.sortlist li {
  margin: 25px auto;
}

.quicksort li {
  margin: 0px 20px;
}

.binary-bits li  {
  margin: 0px 20px;
}
.binary-bits li .bit{
  font-weight: bold;
}
.binary-bits li .bin{
  text-align: center;
}
h1.result, h1.sorted-result{
  color:green;
}
h1.result-incorrect{
  color: red;
}

.endactivity {
  width: 80%;
  margin: 0px auto;
}

.switch-correct {
  background-color: #4cae4c;
}

.switch-incorrect {
  background-color: #FF9999;
}