<!DOCTYPE html>
<html lang="en" ng-app="ngApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Mobile KLA</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://getbootstrap.com/examples/signin/signin.css">
    <link rel="stylesheet" href="justified-nav.css"/>
</head>
<body ng-body="EnterCodeCtrl">
    <!-- only admin can access this page -->
    <div class="container">
        <!-- Show the 4 digit code to enter -->
        <h1>Please Enter the following 4-digit number below</h1>
        <p>{{ codekey }}</p>

        <!-- Show the number of students logged in -->
        <p>{{noOfStudents}} Students have logged in so far:</p>

        <!-- Show the list of students with their names -->
        <div ng-repeat="student in studentlist">
            <p>{{ student.name }}</p>
        </div>

        <!-- have radio buttons to select activity and enable the start activity button -->
        <!-- Names are: Quicksort, Switch Statements, Decimal to Binary -->
        <h2>Select an Activity</h2>

        <form class="form-selectActivity" name="selectActivityForm" role="form">
            <div class="form-group">
                <label class="radio-inline"><input type="radio" ng-model="activity.name" name="name" value="quicksort">Quicksort</label>
                <label class="radio-inline"><input type="radio" ng-model="activity.name" name="name" value="switch">Switch Statements</label>
                <label class="radio-inline"><input type="radio" ng-model="activity.name" name="name" value="binary">Decimal to Binary</label>
            </div>
            <button type="button" ng-disabled="noOfStudents < 8" ng-click="startActivity(activity.name)"
                    class="btn btn-lg btn-primary btn-block">Start Activity</button>
        </form>

    </div>
</body>
</html>