<!-- only admin can access this page -->
<div class="container" ng-controller="EnterCodeCtrl">
    <!-- Show the 4 digit code to enter -->
    <h1>Enter the 4-digit number below:</h1>
    <h1 style="text-align:center;">{{ codekey }}</h1>

    <!-- Show the number of students logged in -->
    <p>{{ studentlist.length }} Students have logged in so far:</p>

    <!-- Show the list of students with their names -->
    <div ng-repeat="student in studentlist">
        <p>{{ student.name }}</p>
    </div>

    <!-- have radio buttons to select activity and enable the start activity button -->
    <!-- Names are: Quicksort, Switch Statements, Decimal to Binary -->
    <h2>Select an Activity</h2>

    <form class="form-selectActivity" name="selectActivityForm" role="form">
        <div class="form-group">
            <label class="radio-inline"><input type="radio" ng-model="activity.name" name="name" value="quicksort">Quicksort</label>
            <label class="radio-inline"><input type="radio" ng-model="activity.name" name="name" value="switch">Switch Statements</label>
            <label class="radio-inline"><input type="radio" ng-model="activity.name" name="name" value="binary">Decimal to Binary</label>
        </div>
        <button type="button" ng-disabled="studentlist.length < 8" ng-click="startActivity(activity.name)"
                class="btn btn-lg btn-primary btn-block">Start Activity</button>
    </form>
</div>