<div class="container" ng-controller="StudentLoginCtrl">
    <div class="jumbotron" style="padding-bottom: 0px;">
        <h2>Student</h2>
        <p>Enter your name and 4-digit code on the dashboard</p>
    </div>

    <!-- show message saying there are currently 8 students, please wait until there are less than 7 students -->

    <!-- type in full name or nickname and enter 4 digit code specified -->
    <form class="form-signin" name="signinForm">
        <div class="form-group" ng-class="{ 'has-error' : signinForm.name.$invalid }">
            <label>Name</label>
            <input type="text" name="name" class="form-control" ng-model="student.name"/>
            <p class="help-block" ng-show="signinForm.name.$invalid">Name is Required</p>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : signinForm.code.$invalid }">
            <label>4-digit Code</label>
            <input type="number" name="code" class="form-control" ng-model="student.code" ng-minlength="4" ng-maxlength="4"/>
            <p class="help-block" ng-show="signinForm.code.$error.minlength || signinForm.code.$error.maxlength">Must be a 4 digit number</p>
        </div>
        <label class="checkbox">
            <a href="#/home">Return Home</a>
        </label>
        <!-- disable login if student list is at 8 students -->
        <button type="button" ng-disabled="(!student.name && !student.code) || (studentlist.length >= 8)" ng-click="signIn($event)"
                class="btn btn-lg btn-primary btn-block">Sign In</button>
    </form>
</div>