<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Mobile KLA</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://getbootstrap.com/examples/signin/signin.css">
    <link rel="stylesheet" href="justified-nav.css"/>
</head>

<body ng-controller="StudentLoginCtrl">
    <div class="container">
        <div class="jumbotron" style="padding-bottom: 0px;">
            <h2>Student</h2>
            <p>Enter your name and 4-digit code on the dashboard</p>
        </div>
        <!-- type in full name or nickname and enter 4 digit code specified -->
        <form class="form-signin" name="signinForm">
            <div class="form-group" ng-class="{ 'has-error' : signinForm.name.$invalid }">
                <label>Name</label>
                <input type="text" name="name" class="form-control" ng-model="student.name"/>
                <p class="help-block" ng-show="signinForm.name.$invalid">Name is Required</p>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : signinForm.code.$invalid }">
                <label>4-digit Code</label>
                <input type="number" name="code" class="form-control" ng-model="student.code" ng-minlength="4" ng-maxlength="4"/>
                <p class="help-block" ng-show="signinForm.code.$error.minlength || signinForm.code.$error.maxlength">Must be a 4 digit number</p>
            </div>
            <label class="checkbox">
                <a href="#/home">Return Home</a>
            </label>
            <button type="button" ng-disabled="!student.name || !student.code" ng-click="signIn($event)"
                    class="btn btn-lg btn-primary btn-block">Sign In</button>
        </form>
    </div>

</body>
</html>