<div class="container" ng-controller="DashboardCtrl">
<!-- show the current order and the steps -->
<!-- show steps and highlights based on each movement -->

<!-- Example

    Quicksort: Show the base order, darken the pivot value, then
    highlight the left pointer, move pointer until the value is
    greater than or equal to pivot value, then start with right
    pointer and move until pointer is less than or equal to pivot
    swap the two values and show the next line.
    continue moving the pointers until they cross and repeat the
    steps until all numbers are sorted properly
-->
    <div class="dashboard" >
        <h2>{{activityName.title}}</h2>
        <div ng-show="activityName.name === 'quicksort'">
            <ul class="list-inline quicksort">
                <li ng-repeat="student in studentInfo">{{student.number}}</li>
            </ul>
        </div>

        <div ng-show="activityName.name === 'switch'">
            <div ng-repeat="student in studentInfo"><h3 ng-show="student.role === 'var'">Item: {{student.item}}</h3></div>
            <p>switch(item){</p>
            <!-- show case statements and default -->
            <ul class="list-unstyled">
                <li ng-repeat="student in studentInfo">
                    <p ng-show="student.role === 'case'">
                        &nbsp;&nbsp;{{student.role}} "{{student.item}}":</br>
                        &nbsp;&nbsp;&nbsp;&nbsp;print "im an {{student.item}}"</br>
                        &nbsp;&nbsp;&nbsp;&nbsp;break;</br>
                    </p>
                </li>
                <li ng-repeat="student in studentInfo">
                    <p ng-show="student.role ==='default'">
                        &nbsp;&nbsp;{{student.role}}:</br>
                        &nbsp;&nbsp;&nbsp;&nbsp;print "im something else"</br>
                    </p>
                </li>
            </ul>
            <p>}</p>
        </div>

        <div ng-show="activityName.name === 'binary'">

            <h3>Decimal Number: {{decimalNum.number}}</h3>
            <ul class="list-inline binary-bits">
                <li ng-repeat="student in studentInfo">
                    <p class="bit">{{student.bit}}</p>
                    <p class="bin">{{student.correctBit}}</p>
                </li>
            </ul>
        </div>
    </div>

    <!--
    Switch: each step of the switch statement and highlight the correct value based on
    student selection
-->


    <!--
    Decimal to Binary: display the decimal number, show the binary bits below
    on top with the numbers 128, 64, 32, 16, 8, 4, 2, 1
    below show 0's and flip the bits to 1 if the value is less than or equal to the current value
    once the binary numbers add to the correct value show that as final answer.
-->

    <!-- Once activity is finished have button for restart activity -->
    <!-- if restart activity reuse cases for more practice-->

    <!-- to end activity at any time click the button below and prompt,
    if ok stop activity if cancelled continue activity -->

</div>