<div class="container" ng-controller="DashboardCtrl">
<!-- show the current order and the steps -->
<!-- show steps and highlights based on each movement -->

    <div class="dashboard" >
        <h2>{{activityName.title}}</h2>
        <div ng-show="activityName.name === 'quicksort'">
            <!-- Show each sorted order for each student -->
            <ul class="list-unstyled sortlist">
                <li ng-repeat="sort in sortOrder">
                    <!-- only show line if current sort order matches current standing -->
                    <ul class="list-inline quicksort" ng-show="sort.showLine">
                        <li ng-repeat="num in sort.values">{{ num }}</li>
                    </ul>
                </li>
            </ul>
            <h1 class="sorted-result" ng-show="sortActivity.sorted">SORTED</h1>
        </div>

        <div ng-show="activityName.name === 'switch'">
            <h3>Item: {{swActivity.varItem}}</h3>
            <p>switch(item){</p>
            <!-- show case statements and default -->
            <ul class="list-unstyled">
                <!--Highlight if student has answered and if result matches the correct var value -->
                <li ng-repeat="student in studentInfo" ng-class="{'switch-correct': (student.answered === true && (student.item === swActivity.varItem)),
                'switch-incorrect': (student.answered === true && (student.item !== swActivity.varItem))}">
                    <p ng-show="student.role === 'case'" >
                        &nbsp;&nbsp;{{student.role}} "{{ student.item }}":</br>
                        &nbsp;&nbsp;&nbsp;&nbsp;print "im an {{ student.item }}"</br>
                        &nbsp;&nbsp;&nbsp;&nbsp;break;</br>
                    </p>
                </li>
                <li ng-repeat="student in studentInfo" ng-class="{'switch-correct': (student.answered === true && student.item === swActivity.varItem),
                'switch-incorrect':(student.answered === true && student.item !== swActivity.varItem)}">
                    <p ng-show="student.role ==='default'">
                        &nbsp;&nbsp;{{student.role}}:</br>
                        &nbsp;&nbsp;&nbsp;&nbsp;print "im something else"</br>
                    </p>
                </li>
            </ul>
            <p>}</p>
        </div>

        <div ng-show="activityName.name === 'binary'">

            <h2>Decimal Number: <b>{{decimalNum.number}}</b></h2>
            <ul class="list-inline binary-bits">
                <li ng-repeat="student in studentInfo">
                    <p class="bit">{{student.bit}}</p>
                    <!-- show correct bit once student sends out response -->
                    <p class="bin">{{student.studentBit}}</p>
                </li>
            </ul>
            <!--Show if response is correct or not for class to check-->
            <h1 class="result" ng-show="decimalNum.currentAddedValue == decimalNum.number">CORRECT</h1>
            <h1 class="result-incorrect" ng-show="decimalNum.currentAddedValue > decimalNum.number">INCORRECT</h1>

        </div>

        <button type="button" ng-click="endActivity()" class="btn btn-lg btn-danger btn-block endactivity">End Activity</button>

    </div>

</div>